@import "tailwindcss";

@theme {  
    --color-lighter-green: #CAFFCC; 
    --color-light-red: #FFB2B2;
    --color-yellow: #FFF6B8;
    --color-light-green: #38DF1E;
    --color-light-blue: #CAFEFF;
    --color-light-red: #FFAFAF;
}

/* Override barcode-scanner default styles */
video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: 0.75rem; 
}